.dashboard-atleta{
    padding: 120px 150px;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

/* HERO */

.dashboard-hero{
    background: linear-gradient(135deg,#101010,#1a1a1a);
    border-radius:30px;
    padding:60px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    overflow:hidden;
    position:relative;
}

.dashboard-hero::after{
    content:"";
    position:absolute;
    width:350px;
    height:350px;
    background:var(--border-focus);
    filter:blur(120px);
    opacity:.15;
    right:-100px;
    top:-100px;
}

.hero-info{
    width:50%;
    z-index:2;
}

.tag-status{
    background:var(--border-focus);
    color: #fff;
    padding: 8px 18px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
}

.hero-info h1{
    font-size: 64px;
    margin-top:20px;
}

.hero-info p{
    color: var(--muted);
    margin-top: 20px;
    line-height: 1.7;
    width: 80%;
}

.hero-metricas{
    display: flex;
    gap: 25px;
    margin-top: 40px;
}

.metrica{
    background: var(--input-bg);
    border: 1px solid var(--border);
    border-radius: var(--radius-sm);
    color: var(--text-primary);
    font-family: var(--font-body);
    padding: 25px;
    min-width: 160px;
}

.metrica h2{
    color:var(--border-focus);
    font-size: 40px;
}

.metrica span{
    color:#bdbdbd;
    font-size:14px;
}

.hero-img{
    width:40%;
    display:flex;
    justify-content:end;
    z-index:2;
}

.hero-img img{
    width: 450px;
}

/* TITULO */

.section-title{
    margin-bottom: 40px;
}

.section-title h2{
    font-size: 42px;
}

.section-title p{
    color: var(--muted);
    margin-top: 10px;
}

/* TREINOS */

.treinos-container{
    display: flex;
    gap: 30px;
}

.treino-card{
    width: 350px;
    background: var(--input-bg);
    border: 1px solid var(--border);
    border-radius: var(--radius-sm);
    color: var(--text-primary);
    font-family: var(--font-body);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: 1s;
}

.treino-card:hover{
    transform: translateY(-8px);
    border-color: var(--border-focus);
}

.treino-tipo{
    color: var(--border-focus);
    font-family: var(--font-display);
    font-weight: 700;
    font-size: 40px;
}

.treino-card h3{
    font-size: 30px;
}

.treino-card ul{
    display:flex;
    flex-direction:column;
    gap: 6px;
    color:var(--text-muted);
}

.treino-card button{
    margin-top:20px;
    border:none;
    background:var(--border-focus);
    color:#fff;
    padding:14px;
    border-radius: var(--radius-sm);
    font-family: var(--font-body);
    cursor: pointer;
    font-weight: 600;
}

/* METAS */

.metas-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.meta-card{
    background: var(--input-bg);
    border: 1px solid var(--border);
    padding: 24px;
    border-radius: var(--radius-sm);
    font-size: 18px;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.meta-card:hover{
    transform: translateY(-8px);
    border-color: var(--border-focus);
}

.meta-card.done{
    border-color: var(--border-focus);
}

/* EVOLUÇÃO */

.evolucao-box{
    display: flex;
    gap: 30px;
}

.evolucao-card{
    flex: 1;
    background: var(--input-bg);
    border: 1px solid var(--border);
    border-radius: var(--radius-sm);
    color: var(--text-primary);
    padding: 40px;
}

.evolucao-card h3{
    color: var(--muted);
    margin-bottom: 20px;
}

.evolucao-card span{
    font-size: 48px;
    color: var(--border-focus);
    font-weight: bold;
}

.peso-info{
    display: flex;
    align-items: end;
    gap: 8px;
}

.peso-info small{
    color: var(--muted);
    margin-bottom: 10px;
}

.btn-alterar {
    margin-top: 25px;
    background: var(--input-bg);
    border: 1px solid var(--border);
    border-radius: var(--radius-sm);
    color: var(--text-primary);
    padding: 12px 20px;
    cursor: pointer;
    font-size: 18px;
}

/* MODAL */

.modal-peso{
    position: fixed;
    inset: 0;
    background: #000000a8;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-content{
    width: 400px;
    background: var(--bg-dark);
    border: 1px solid var(--border);
    border-radius: var(--radius-sm);
    color: var(--text-primary);
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.modal-content h2{
    font-size: 30px;
}

.modal-content form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.modal-content label{
    margin-bottom: -10px;
    font-weight: 600;
}

.modal-content input{
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    background: var(--bg-dark);
    border: 1px solid var(--border);
    border-radius: var(--radius-sm);
    padding: 0 20px;
    color: #fff;
    font-size: 18px;
}

.modal-btns{
    display: flex;
    gap: 15px;
}

.modal-btns button{
    flex: 1;
    height: 50px;
    border: none;
    font-family: var(--font-body);
    border-radius: var(--radius-sm);
    cursor: pointer;
    font-size: 18px;
}

.btn-alterar:hover {
    transition: 1s;
    background: var(--lime);
    color: var(--bg-dark);
}

.btn-alterar:not(:hover) {
    transition: 1s;
    background: var(--border-focus);
    color: #fff;
}

.salvar {
    background: var(--border-focus);
    color: #fff;
}

.salvar:hover {
    transition: 1s;
    background: var(--lime);
    color: var(--bg-dark);
}

.salvar:not(:hover) {
    transition: 1s;
    background: var(--border-focus);
    color: #fff;
}

.cancelar {
    transition: 1s;
    background-color: var(--warn-color);
    border-color: var(--warn-color);
    color: white;
}

.cancelar:hover {
    background: #e74c3c;
    border-color: #e74c3c;
    color: var(--bg-dark);
}

.cancelar:not(:hover) {
    transition: 1s;
    background-color: var(--warn-color);
    border-color: var(--warn-color);
    color: white;
}
/* SOLICITAÇÕES */

.solicitacoes-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.solicitacao-card {
    background: var(--input-bg);
    border: 1px solid var(--border);
    border-radius: var(--radius-sm);
    color: var(--text-primary);
    font-family: var(--font-body);
    padding: 25px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 1s;
}

.solicitacao-card:hover{
    border-color: var(--border-focus);
    transform: translateY(-4px);
}

.solicitacao-info {
    display: flex;
    flex-direction: column;
}

.solicitacao-info h3 {
    font-size: 22px;
}

.solicitacao-info span {
    color: var(--text-muted);
}

.solicitacao-btns{
    display: flex;
    gap: 12px;
}

.btn-aceitar,
.btn-recusar {
    border: none;
    padding: 12px 30px;
    border-radius: var(--radius-sm);
    cursor: pointer;
    transition: 1s;
    font-size: 18px;
}

.btn-aceitar {
    background:var(--border-focus);
    color:#fff;
}

.btn-aceitar:hover {
    transition: 1s;
    background: var(--lime);
    color: var(--bg-dark);
}

.btn-aceitar:not(:hover) {
    transition: 1s;
    background: var(--border-focus);
    color: #fff;
}

.btn-recusar{
    transition: 1s;
    background: var(--warn-color);
    color: #fff;
}

.btn-recusar:hover{
    transition: 1s;
    background: #e74c3c;
    color: var(--bg-dark);
}

.btn-concluir{
    padding: 12px 30px;
    border-radius: var(--radius-sm);
    cursor: pointer;
    transition: 1s;
    font-size: 18px;
    background: var(--border-focus);
    color: #fff;
}

.btn-concluir:hover{
    background: var(--lime);
    color: var(--bg-dark);
}

.btn-desconcluir{
    padding: 12px 30px;
    border-radius: var(--radius-sm);
    cursor: pointer;
    transition: 1s;
    font-size: 18px;
    background: transparent;
    border: 1px solid var(--border-focus);
    color: var(--text-muted);
}

.btn-desconcluir:hover{
    background: #e74c3c;
    color: var(--bg-dark);
}

.btn-desconcluir:not(:hover){
    background: transparent;
    border: 1px solid var(--border);
    color: var(--text-muted);
}

/* =========================
   RESPONSIVO MOBILE
========================= */
@media (max-width: 1024px){

    .dashboard-atleta{
        padding: 100px 20px 60px;
        gap: 70px;
    }

    /* HERO */

    .dashboard-hero{
        flex-direction: column;
        padding: 35px 25px;
        text-align: center;
        gap: 30px;
    }

    .hero-info{
        width: 100%;
    }

    .hero-info h1{
        font-size: 2.2rem;
    }

    .hero-info p{
        width: 100%;
        font-size: .95rem;
    }

    .hero-metricas{
        flex-direction: column;
        gap: 15px;
    }

    .metrica{
        width: 100%;
        min-width: unset;
        padding: 20px;
    }

    .metrica h2{
        font-size: 2rem;
    }

    .hero-img{
        width: 100%;
        justify-content: center;
    }

    .hero-img img{
        width: 250px;
    }

    /* TITULOS */

    .section-title{
        margin-bottom: 25px;
    }

    .section-title h2{
        font-size: 2rem;
    }

    .section-title p{
        font-size: .95rem;
    }

    /* TREINOS */

    .treinos-container{
        flex-direction: column;
    }

    .treino-card{
        width: 100%;
        padding: 25px;
    }

    .treino-tipo{
        font-size: 2rem;
    }

    .treino-card h3{
        font-size: 1.5rem;
    }

    .treino-card button{
        width: 100%;
    }

    /* METAS */

    .meta-card{
        padding: 18px;
        font-size: 1rem;
    }

    /* EVOLUÇÃO */

    .evolucao-box{
        flex-direction: column;
    }

    .evolucao-card{
        padding: 25px;
    }

    .evolucao-card span{
        font-size: 2rem;
    }

    .btn-alterar{
        width: 100%;
    }

    /* MODAL */

    .modal-content{
        width: calc(100% - 30px);
        padding: 25px;
    }

    .modal-content h2{
        font-size: 1.6rem;
    }

    .modal-btns{
        flex-direction: column;
    }

    .modal-btns button{
        width: 100%;
    }

    /* SOLICITAÇÕES */

    .solicitacao-card{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 20px;
    }

    .solicitacao-info{
        width: 100%;
    }

    .solicitacao-info h3{
        font-size: 1.2rem;
    }

    .solicitacao-btns{
        width: 100%;
        flex-direction: column;
    }

    .solicitacao-btns form{
        width: 100%;
    }

    .btn-aceitar,
    .btn-recusar{
        width: 100%;
    }

    /* BOTÕES DE METAS */

    .btn-concluir,
    .btn-desconcluir{
        width: 100%;
    }

}

/* CELULARES MUITO PEQUENOS */
@media (max-width: 480px){

    .dashboard-atleta{
        padding: 90px 15px 40px;
    }

    .dashboard-hero{
        padding: 25px 20px;
    }

    .hero-info h1{
        font-size: 1.8rem;
    }

    .hero-img img{
        width: 200px;
    }

    .treino-card{
        padding: 20px;
    }

    .treino-tipo{
        font-size: 1.6rem;
    }

    .treino-card h3{
        font-size: 1.25rem;
    }

    .evolucao-card{
        padding: 20px;
    }

    .evolucao-card span{
        font-size: 1.7rem;
    }

    .section-title h2{
        font-size: 1.7rem;
    }

}