.home-hero {
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/img/image.png') center/cover no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.95) 0%,   /* bem forte na esquerda */
        rgba(0, 0, 0, 0.75) 25%,
        rgba(0, 0, 0, 0.45) 50%,
        rgba(0, 0, 0, 0.15) 80%,
        rgba(0, 0, 0, 0.05) 100%  /* quase transparente na direita */
    );
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 1em;
    padding:0 100px;
    max-width: 1500px;
}

.hero-left,
.hero-right {
    flex: 1;
    color: white;
}

.hero-left {
    padding-right: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hero-left h3 {
    font-size: 18px !important; 
    font-family: var(--font-body);
    font-weight: 500;

}

.hero-left h1 {
    font-size: 60px !important;
    font-weight: bolder;
}

.hero-left p {
    font-size: 20px !important;
}

.hero-right {
    display: flex;
    align-items: center;
    justify-content: right;
}

.hero-right img {
    width: 350px;
}

.hero-btns {
    display: flex;
    align-items: center;
    gap: 30px;
    font-family: var(--font-body);
    font-weight: 500;
}

.hero-btns a {
    text-decoration: none;
}

.hero-btns .hero-btn1,
.hero-btns .hero-btn2 {
    display: flex;
    gap: 15px;
    font-size: 18px;
    border-radius: 4px;
    transition: all 1s ease;
}

.hero-btns .hero-btn1{
    padding: 8px 20px;
    border: none;
    background-color: var(--border-focus);
    color: #fff;
}

.hero-btns .hero-btn1:hover {
    background-color: var(--lime);
    color: #000;
}

.hero-btns .hero-btn2 {
    padding: 8px 20px;
    border: solid 1px #fff;
    background-color: transparent;
    color: #fff;
}

.hero-btns .hero-btn2:hover {
    background-color: #fff;
    color: #000;
}

.hero-topicos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.hero-topicos .topico {
    width: 300px;
    display: flex;
    align-items: center;
    gap: 30px;
    color: #fff;
    font-size: 20px;
    padding: 0 10px;
}

.hero-topicos .topico i {
    width: 55px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--border-focus);
    border-radius: 100%;
}