@{
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
}

<div class="home-hero">
    <div class="overlay"></div>

    <div class="hero-content">
        <div class="hero-left">
            <h1>Transforme seu treino</h1>
            <p>Plataforma completa para performance</p>
        </div>

        <div class="hero-right">
            <h1>Outro conteúdo</h1>
        </div>
    </div>
</div>