@{
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
}

<section class="home-hero">
    <div class="overlay"></div>

    <div class="hero-content">
        <div class="hero-left">
            <h3>ALTO RENDIMENTO</h3>
            <h1>Seja sua<br>melhor versão. <br>Todo dia.</h1>
            <p>Conteúdo, treinos e estratégias para atletas que buscam excelência e treinadores que constroem resultados extraordinários.</p>
            <div class="hero-btns">
                <a href="#"><button class="hero-btn1">Sou atleta <i class="bi bi-arrow-right"></i></button></a>
                <a href="#"><button class="hero-btn2">Sou treinador <i class="bi bi-arrow-right"></i></button></a>
            </div>
        </div>

        <div class="hero-right">
            <img src="~/img/heroImg.png" alt="Quadrados verdes">
        </div>
    </div>
</section>

<div class="hero-topicos">
    <div class="topico">
        <i class="bi bi-arrow-right"></i>
        <span>Conteúdo exclusivo de alto nível</span>
    </div>

    <div class="topico">
        <i class="bi bi-arrow-right"></i>
        <span>Planos e treinos personalizados</span>
    </div>

    <div class="topico">
        <i class="bi bi-arrow-right"></i>
        <span>Evolução baseada em dados reais</span>
    </div>
</div>