@{
    ViewData["Title"] = "Performance";
}

<div class="text-center">
    <h1 class="display-4">Performance</h1>
    <p>Conteúdo, treinos e estratégias para atletas que buscam excelência e treinadores que constroem resultados extraordinários.</p>
</div>
