<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zenith</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ZenithApp.styles.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>

<body>
    <header>
        <nav class="navbar-custom">
            <a class="zenith" asp-area="" asp-controller="Home" asp-action="Index">Zenith</a>
            
            <ul class="nav-links">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Conteudo">Conteúdos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Treino">Treinos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Performance">Performance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Sobre">Sobre Nós</a>
                </li>
            </ul>

            <div class="nav-buttons">
                <a href="#" class="btn btn-outline">Entrar</a>
                <a href="#" class="btn btn-green">Começar agora</a>
            </div>
        </nav>
    </header>

        <main role="main" class="p-0">
            @RenderBody()
        </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - ZenithApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    
</body>
</html>
